body{
  font-family: 'Lato', sans-serif;
}
.nav_div{
      background-color: #f6ff4c;
      font-family: 'Lato', sans-serif;
}
.navbar-header a,.navbar-nav a{
  color:black;
  font-weight: 1000;

}
.navbar-header{
    display: inline-block;

}
.nav{
  padding-left: 15px;
}
.nav>li
{
font-size: 18px;
}
.nav>li>a:hover,.nav>li>a:focus{
      background-color: inherit;
      border-bottom: 2px solid #000000;
}
/* Search box */
.search_bar{
    display: none;
    height: 40px;
    border-style: none;
    font-size: larger;
    padding-left: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ddde03c9;
    width: 350px;

}
.search_bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.search_bar:focus
{
  background-color: white;
}
.search_toggle{
display:inline-block !important;
}
.search_result{
    padding: inherit;
    margin-left: 10px;
    position: absolute;
    list-style: none;

  }
.search{
    display: inline-block;
        margin-bottom: 2px;

  }
.search_result > li{
  width: 100%;
  background-color: #feff00a8;
  padding: 5px;
  font-weight: bolder;
}
.fa-search{
  position: relative;
  top:10px;
  margin-left: 15px;
  cursor: pointer;
}
.search_icon_toggle{
  position: absolute !important;

}
.fa-bars
{
  display: none;
  position: absolute;
  top:10px;
  margin-left: 15px;
  cursor: pointer;
  right:10px;
}
.body_title
{
  border-left: 10px solid #16b9b9;
  padding: 10px;
  width: max-content;
  background-color: #31bbaed9;
  box-shadow: 1px 2px 7px 0px grey;
}
/* Articles inside topics */
.article{
    border-radius: 5px;
    border: none;
    margin: 15px;
    padding: 10px;
    background-color: #e2e2e2;
    line-height: 25px;
}
.article_title{
  margin-top:15px;
}
.article_cat{
  border-radius: 5px;
  background-color: #ff38fb9c;
  padding: 2px;
  color:white;
  float:right;
}
.article_link{
  color:black;
  text-decoration: none;
  cursor:pointer;

}
.article_link:hover{
color:#943092;
transition: 1s;

}
